caption, table, td, th {
	border: 1px solid black;
}
caption {
	font-weight:bold;
	font-size:2em;
}
table {
	margin:auto;
	width:20%
}
th {
	background-color:#A9B3D9;
	padding:10px;
	font-size:2em;
}
td {
	padding:5px;
	font-size:1.5em;
}
tr:nth-of-type(even) {
	background-color:#E9E6ED;
}
