caption, table, td, th {
  border: 1px solid black;
}
caption {
  font-weight:bold;
  text-decoration:underline;
}
table {
  margin:auto;
  width:25%
}
th {
	background-color:#A9B3D9;
	padding:10px;
}
td {
	padding:5px;
}
tr:nth-of-type(even) {
	background-color:#E9E6ED;
}
